@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:root{
  --Strongcyan: hsl(172, 67%, 45%);
  --Verydarkcyan: hsl(183, 100%, 15%);
  --Darkgrayishcyan: hsl(186, 14%, 43%);
  --Grayishcyan: hsl(184, 14%, 56%);
  --Lightgrayishcyan: hsl(185, 41%, 84%);
  --Verylightgrayishcyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--Lightgrayishcyan);

}

body{
  width: 100%;
  height: 100vh;
  background-color: var(--Lightgrayishcyan);

}


.main{
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  
  width: 100%;
  min-width: 330px;
  max-width: 500px;

  animation: showMain 1s ease-out 1.5s forwards;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.068);
  opacity: 0;
}


#title img{
  color: var(--Verydarkcyan);
  width: 100px;
  margin: 1.5em 0px;
  animation: showTitle 1s ease-out .5s forwards;
  opacity: 0;
}

@keyframes showMain{
  from{
    opacity: 0;
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    transform: translateY(0px)
  }
}

@keyframes showTitle{
    from{
      opacity: 0;
      transform: translateY(-100px);
    }
    to{
      opacity: 1;
      transform: translateY(0px)
    }
}

