span#porcent::after{
    content: '%';
}

.buttons{
    border: none;
    background-color: hsl(183, 100%, 15%);
    color: white;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    transition: all .2s;
    cursor: pointer;
    
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137);
}

.buttons:hover{
    color: hsl(183, 100%, 15%) !important;
    background-color: hsl(172, 67%, 45%) !important;
    transform: translateY(1px);
}

input#custom{
    border-radius: 5px;
    border: none;
    background-color: hsl(189, 41%, 97%);
    text-align: right;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    font-size: 24px;
    color: hsl(183, 100%, 15%);
}

input#custom:focus{
    border: 2px solid hsl(172, 67%, 45%);
}

input#custom::placeholder{
    margin-top: 5px;
    font-size: 24px;
}

